.border-2{
border-style:solid!important;
 border-width: 2px!important;
 border-color: black!important;
}

.fontInBetween{
  font-size: 2rem;
}

@media only screen and (max-width: 1270px){
  .titleFont{
  font-size: 35px;
  }
}

@media only screen and (max-width: 1185px){
  .titleFont{
  font-size: 45px;

  }
}


@media only screen and (max-width: 1538px){
  .fontInBetween{
  font-size: 29px;

  }
}

@media only screen and (max-width: 1193px){
  .fontInBetween{
  font-size: 31px;
  margin: 0;
  }

  .badge {
    font-size: 22px;
  }
}


@media only screen and (max-width: 800px){
  .titleFont{
    font-size: 40px;
  
    }
}
